.todo-container{
    width: 100%;
    padding: 20px 0;
    margin-bottom: 100px;
    border-bottom: 2px solid $bckg-color2;
}
.total-task{
    font-family: $edu;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.todoList{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.todoList__item{
    padding: 10px;
    border: 1px solid $bckg-color2;
    border-radius: 5px;
    background-color: $white;
}
.todoList__text{
    font-family: $edu;
    font-size: 18px;
    font-weight: bold;
    color: $bckg-color2;
    margin-right: 10px;
}
.todoList__btn{
    border: none;
    border-radius: 50%;
    padding: 5px;
    width: 32px;
    height: 32px;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    background-color: $bckg-color2;
}
.completed{
    -webkit-box-shadow: 1px 2px 6px 0px #2D9231; 
    box-shadow: 1px 2px 6px 0px #2D9231;
}
.controls-wrapper{
    margin-top: 8px;
    display: flex;
}
// Custom checkbox
.custom-checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-label{
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-label::before{
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 8px;
}
.custom-label--checked{
    background-image: url('../img/icon-check.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 20% center;
    
}
